<div class="container-xl-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light one">
        <div class="container-fluid">
          <img src="/img/logo.png" alt="" class="img1">
          <a class="navbar-brand ap" href="#">Attendance Portal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ulone">
            </ul>
            <form class="d-flex">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <a href="/logout" class="btn btn-outline-dark mx-auto" type="submit">Logout</a>
            </form>
          </div>
        </div>
      </nav>
</div>