<%- include('partials/header'); %>

    <link rel="stylesheet" href="/styles/login-styles.css">
</head>
<body>
    <div class="main-div">
        <div class="header">
            <div class="logo"><img src="/img/logo.png" alt=""></div>
            <p class="h4">Attendance Login</p>
        </div>
        <div class="input-div">
            <form action="/login" method="post">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="pass">
                <div>
                    <button class="button" type="submit">Login</button>
                </div>
            </form>
           </div>
        </div>
        <div>
            <p style="font-size: 10px;
            margin-left:40px;margin-top:20px;
            font-weight: bold;
            color:rgb(121, 120, 120);">Forgot Password?</p>
        </div>
            
    </div>
</body>
</html>