<%- include('partials/header'); %>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/qrcode.js"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="/styles/index-styles.css">
<style>
    #qrcode {
        position: absolute;
        top: 40%;
        left : 50%;
        transform : translate(-50%, -50%);
    }
    @media only screen and (min-width: 920px) {
  .ap{
    margin-left: 35%;
  }
}

</style>
</head>
<body>
    <div class="container-xl-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light one">
            <div class="container-fluid">
              <img src="/img/logo.png" alt="" class="img1">
              <a class="navbar-brand ap" href="#">Attendance Portal</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ulone">
                 
                  <!-- <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle bb" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                     
                    </ul>
                  </li> -->
                 
                </ul>
                <form class="d-flex">
                  <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                  <a href="/logout" class="btn btn-outline-success mx-auto" type="submit">Logout</a>
                </form>
              </div>
            </div>
          </nav>
    </div>
    <div class="container">
        <p class="text-center fs-4 py-5"> Scan the QR Code </p>
    </div>


    <div id="qrcode" class ="justify-content-center my-5" style="width:100px; height:100px; margin-top:15px;"></div>
    
    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 100,
            height: 100
        });
        try{
            function makeCode() {
            var elText = '<%-url%>';

            qrcode.makeCode(elText);
        }
    }
        catch(err){
            console.log(err);
        
        }
       

        makeCode();

        $("#text").
            on("blur", function () {
                makeCode();
            }).
            on("keydown", function (e) {
                if (e.keyCode == 13) {
                    makeCode();
                }
            });
    </script>
</body>
</html>